*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    width: 100%;
    height: 6rem;
    font-size: 1.3rem;
}
header nav{
    display: flex;
    justify-content:flex-end ;
    height: 100%;
}
header nav .nav-right-section{
    list-style: none;
    width: 25rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a{
    margin-right: 1rem;
    color:#000000
}
nav .nav-right-section .profile-picture img{
    border-radius: 50%;
    margin-left: 1rem;
}
main{
    margin-top: 15rem;
    text-align: center;
}
main .main-logo{
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}
main .main-logo img{
    width: 30rem;
}
main .main-input{
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
}
main .main-input-container{
    width: 52.5rem;
    border-radius: 10rem;
    border: 1px solid #ecedef;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input{
    width: 45rem;
    height: 4rem;
    border: none;
    outline: none;
}
main .main-input-container:hover{
    box-shadow: 0 0.1rem 0.6rem 0 #c7c7c7;
    border-color: #dfe1e500;
}
main .main-input .search-icon {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: #c5c5c5;
  }
main .main-input .micro-icon{
    background-image: url('../img/micro-google.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}
main .main-buttons{
    width: 53rem;
    margin: 0 auto;

}
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button{
    height: 3.6rem;
    background-color: #f2f2f2;
    border: 0;
    font-size: 1.4rem;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 1.5rem;
    margin-right: 1.5rem;
}
main .main-buttons button:hover{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px 0 #202124;
    color:#222222;
}
footer{
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 1.3rem;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
footer ul{
    margin: 1rem;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left{
    justify-self: left;
}
footer .footer-right{
    justify-self: right;
}
footer ul li a{
    margin: 1rem;
    color: #5f6368;
}